# $schema: ../schema.json
name: $switch
category:
    - 'Conditional Expression Operator'
link: 'https://www.mongodb.com/docs/manual/reference/operator/aggregation/switch/'
type:
    - resolvesToAny
encode: object
description: |
    Evaluates a series of case expressions. When it finds an expression which evaluates to true, $switch executes a specified expression and breaks out of the control flow.
arguments:
    -
        name: branches
        type:
            - array # of object{case:resolvesToBool, then:expression}
        description: |
            An array of control branch documents. Each branch is a document with the following fields:
            - case Can be any valid expression that resolves to a boolean. If the result is not a boolean, it is coerced to a boolean value. More information about how MongoDB evaluates expressions as either true or false can be found here.
            - then Can be any valid expression.
            The branches array must contain at least one branch document.
    -
        name: default
        type:
            - expression
        optional: true
        description: |
            The path to take if no branch case expression evaluates to true.
            Although optional, if default is unspecified and no branch case evaluates to true, $switch returns an error.
