[submodule "drivers-evergreen-tools"]
	path = tests/drivers-evergreen-tools
	url = https://github.com/mongodb-labs/drivers-evergreen-tools
[submodule "specifications"]
	path = tests/specifications
	url = https://github.com/mongodb/specifications
