# Composer
composer.phar
composer.lock
vendor/

# PHPUnit
phpunit.phar
phpunit.xml
.phpunit.result.cache

# phpcs
.phpcs-cache
phpcs.xml

# psalm
psalm.xml

# phpbench
.phpbench/
phpbench.json

# bref
.serverless/

mongocryptd.pid
