source:
    - src

destination: site/api

charset:
    - UTF-8

main: MongoDB PHP library
title: MongoDB PHP library
baseUrl: http://mongodb.github.io/mongo-php-library/api
googleCseId: null
googleAnalytics: null
templateTheme: bootstrap
templateConfig: null

deprecated: false
internal: false
todo: false

php: false
tree: true
download: false
