source:
	- src
	
destination: api
extensions:
	- php
	
exclude:
	- tests/
	- vendor/
	
skipDocPath:
	- * <mask>```
	
charset:
	- UTF-8
	
main: MongoDB PHP library
title: MongoDB PHP library
baseUrl: http://10gen-labs.github.io/mongo-php-libraries-prototype
googleCseId: null
googleAnalytics: null
templateTheme: bootstrap
templateConfig: null
groups: auto
	
accessLevels:
	- public
	
internal: false
php: true
sourceCode: true
tree: true
deprecated: false
todo: false
download: false
