<?xml version="1.0"?>
<ruleset>
    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors" />

    <!-- Ignore warnings, show progress of the run, and show sniff names -->
    <arg value="nps"/>

    <file>src</file>
    <file>tests</file>

    <rule ref="Doctrine">
        <!-- Exclude sniffs that require newer PHP versions -->
        <!-- Requires PHP 7.4 -->
        <exclude name="SlevomatCodingStandard.ControlStructures.RequireNullCoalesceEqualOperator" />

        <!-- Requires PHP 8.0 -->
        <exclude name="SlevomatCodingStandard.Classes.ModernClassNameReference.ClassNameReferencedViaFunctionCall" />

        <!-- Can cause subtle BC breaks, disabled for now -->
        <exclude name="SlevomatCodingStandard.TypeHints.DeclareStrictTypes" />

        <!-- No statement alignment so far -->
        <exclude name="Generic.Formatting.MultipleStatementAlignment" />

        <!-- Class naming sniffs are excluded to preserve BC -->
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousTraitNaming" />

        <!-- Forbid useless annotations - Git and LICENCE file provide more accurate information -->
        <!-- Disable forbidden annotation sniff as excluding @api from the list doesn't work -->
        <exclude name="SlevomatCodingStandard.Commenting.ForbiddenAnnotations.AnnotationForbidden" />

        <!-- Keep long typehints (for now) -->
        <exclude name="PSR12.Keywords.ShortFormTypeKeywords" />
        <exclude name="SlevomatCodingStandard.PHP.TypeCast.InvalidCastUsed" />
        <exclude name="SlevomatCodingStandard.TypeHints.LongTypeHints" />

        <!-- Don't require a full stop after @throws tags -->
        <exclude name="Squiz.Commenting.FunctionComment.ThrowsNoFullStop" />

        <!-- Disable some sniffs as they can cause functional changes. These will be enabled later -->
        <exclude name="Generic.PHP.ForbiddenFunctions.FoundWithAlternative" />
        <exclude name="SlevomatCodingStandard.ControlStructures.DisallowYodaComparison" />
        <exclude name="SlevomatCodingStandard.ControlStructures.EarlyExit" />
        <exclude name="SlevomatCodingStandard.ControlStructures.UselessIfConditionWithReturn" />
        <exclude name="SlevomatCodingStandard.Functions.StaticClosure" />
        <exclude name="SlevomatCodingStandard.Functions.UnusedInheritedVariablePassedToClosure" />
        <exclude name="SlevomatCodingStandard.Operators.DisallowEqualOperators" />

        <!-- These sniffs cause a large diff, so enable them in separate steps -->
        <exclude name="SlevomatCodingStandard.Commenting.DocCommentSpacing.IncorrectAnnotationsGroup" />
        <exclude name="Squiz.Strings.DoubleQuoteUsage" />

        <!-- Sniff currently broken when casting arrays, see https://github.com/squizlabs/PHP_CodeSniffer/issues/2937#issuecomment-615498860 -->
        <exclude name="Squiz.Arrays.ArrayDeclaration.ValueNoNewline" />
    </rule>

    <!-- Forbid fully qualified names even for colliding names -->
    <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly">
        <properties>
            <property name="allowFallbackGlobalConstants" value="false"/>
            <property name="allowFallbackGlobalFunctions" value="false"/>
            <property name="allowFullyQualifiedGlobalClasses" value="false"/>
            <property name="allowFullyQualifiedGlobalConstants" value="false"/>
            <property name="allowFullyQualifiedGlobalFunctions" value="false"/>
            <property phpcs-only="true" name="allowFullyQualifiedNameForCollidingClasses" value="false"/>
            <property phpcs-only="true" name="allowFullyQualifiedNameForCollidingConstants" value="false"/>
            <property phpcs-only="true" name="allowFullyQualifiedNameForCollidingFunctions" value="false"/>
            <property name="searchAnnotations" value="true"/>
        </properties>
    </rule>

    <!-- Only enable some checks regarding type hints -->
    <!-- In addition to requiring PHP 7.0, this sniff will cause a significant amount of BC breaks. Proceed with caution! -->
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint">
        <properties>
            <!-- Disable native object type hints until PHP 7.2 is required -->
            <property name="enableObjectTypeHint" value="false" />
            <!-- Disable native mixed type hints until PHP 8.0 is required -->
            <property name="enableMixedTypeHint" value="false" />
            <!-- Disable native union type hints until PHP 8.0 is required -->
            <property name="enableUnionTypeHint" value="false" />
        </properties>

        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification" />
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.UselessAnnotation" />
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingAnyTypeHint">
        <exclude-pattern>tests</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint">
        <exclude-pattern>src</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint">
        <properties>
            <!-- Disable native property type hints until PHP 7.4 is required -->
            <property name="enableNativeTypeHint" value="false" />
            <!-- Disable native mixed type hints until PHP 8.0 is required -->
            <property name="enableMixedTypeHint" value="false" />
            <!-- Disable native union type hints until PHP 8.0 is required -->
            <property name="enableUnionTypeHint" value="false" />
        </properties>

        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingTraversableTypeHintSpecification" />
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.UselessAnnotation" />
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingAnyTypeHint">
        <exclude-pattern>tests</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint">
        <exclude-pattern>src</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint">
        <properties>
            <!-- Disable native object type hints until PHP 7.2 is required -->
            <property name="enableObjectTypeHint" value="false" />
            <!-- Disable native static type hints until PHP 8.0 is required -->
            <property name="enableStaticTypeHint" value="false" />
            <!-- Disable native mixed type hints until PHP 8.0 is required -->
            <property name="enableMixedTypeHint" value="false" />
            <!-- Disable native union type hints until PHP 8.0 is required -->
            <property name="enableUnionTypeHint" value="false" />
        </properties>

        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification" />
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.UselessAnnotation" />
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingAnyTypeHint">
        <exclude-pattern>tests</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingNativeTypeHint">
        <exclude-pattern>src</exclude-pattern>
    </rule>

    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <exclude-pattern>/src/GridFS/StreamWrapper</exclude-pattern>
        <exclude-pattern>/tests/DocumentationExamplesTest.php</exclude-pattern>
        <exclude-pattern>/tests/GridFS/UnusableStream.php</exclude-pattern>
    </rule>

    <rule ref="PSR1.Classes.ClassDeclaration.MultipleClasses">
        <exclude-pattern>/tests/PHPUnit/ConstraintTrait.php</exclude-pattern>
    </rule>
</ruleset>
