<?xml version="1.0"?>
<psalm
    errorLevel="1"
    errorBaseline="psalm-baseline.xml"
    resolveFromConfigFile="true"
    findUnusedBaselineEntry="true"
    findUnusedCode="false"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src" />
        <directory name="docs/examples/encryption" />
        <directory name="examples" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <stubs>
        <file name="stubs/BSON/Document.stub.php"/>
        <file name="stubs/BSON/Iterator.stub.php"/>
        <file name="stubs/BSON/PackedArray.stub.php"/>
    </stubs>

    <issueHandlers>
        <!-- Class is meant to be Unserialized by the extension only -->
        <PropertyNotSetInConstructor>
            <errorLevel type="suppress">
                <file name="examples/typemap.php" />
            </errorLevel>
        </PropertyNotSetInConstructor>

        <!-- This is often the result of type checks due to missing native types -->
        <DocblockTypeContradiction errorLevel="info" />

        <!-- If the result of getenv is falsy, using the default URI is fine -->
        <RiskyTruthyFalsyComparison>
            <errorLevel type="suppress">
                <directory name="examples" />
                <directory name="docs/examples" />
            </errorLevel>
        </RiskyTruthyFalsyComparison>
    </issueHandlers>
</psalm>
